<?xml version="1.0" encoding="utf-8"?>
<configuration>
  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>

    <!--URL & Browser-->
    <add key="bType" value="firefox" />
    <add key="urlKey" value="redesign15" />

    <!--SSO SignIn page-->
    <add key="SignInheader_classname" value="mdm--header__loginButton" />
    <add key="SignInpublic_id" value="md-utilityMenu_link--signIn" />
    <add key="username_name" value="txtUserName" />
    <add key="password_name" value="txtPassword" />
    <add key="signinbtn_classname" value="mymd__primary-btn" />
    <add key="remindlater_xpath" value="//button[@class='mymd__sso-secondaryBtn ng-star-inserted']" />
    <add key="submit_classname" value="mymd__sso-primaryBtn" />
    
    <!--SSO Other Elements-->
    <add key="learnmore1_linktext" value="Learn more" />
    <add key="learnmore2_linktext" value="Learn more about online security" />
    <add key="forgotPass_linktext" value="Forgot Password?" />
    <add key="fpusername_id" value="Username" />
    <add key="forgotUser_linktext" value="Forgot username?" />
    <add key="fuemail_id" value="EmailAddress" />
    <add key="formError_xpath" value="//input[@class='form-control error--input']" />
    
    <!--SignOut-->
    <add key="signout_id" value="mymd--signOut__link" />
    <add key="signoutp_id" value="md-utilityMenu_link-signOut" />
    <add key="signoute_classname" value="mdm--header__logoutButton" />
    <add key="successmsg_xpath" value="//div[@class='success__msg']" />
    <add key="cert_id" value="advancedButton" />
    <add key="cert2_id" value="exceptionDialogButton" />
    
    <!--ExternalWeb Dashboard page Elements-->
    <add key="Lastlogin_id" value="ltrlLastLogin" />
    <add key="externalweb_classname" value="mymd__portfolioTotal-title" />

    <!--MyMD Overview page Elements-->
    <add key="LastloginMymd_xpath" value="//div[@class='mymd__overview-right disclaimer ng-star-inserted']" />
    <add key="pagetitle_classname" value="mymd__page-title" />
    <add key="lob_xpath" value="//div[@class='mymd__lob-title']" />
    <add key="accList_classname" value="mymd__accounts-list" />
    <add key="promolearn_classname" value="mymd__flyout-learnMore" />
    <add key="charts_classname" value="highcharts-container" />
    <add key="marketchart_classname" value="highcharts-data-label-start" /> 
    <add key="netwchart_classname" value="highcharts-legend" />
    <add key="matbutton_xpath" value="//span[@class='mat-button-wrapper']" />
    

    <!--SSO SignUp page-->
    <add key="signup_classname" value="mymd__secondary-btn" />
    <add key="fName_id" value="SignUp_FirstName" />
    <add key="lName_id" value="SignUp_LastName" />
    <add key="email_id" value="SignUp_Email" />
    <add key="password_id" value="SignUp_Password" />
    <add key="cpassword_id" value="SignUp_ConfirmPassword" />
    <add key="yes_xpath" value="//span[@class='ui-button-text'][contains(text(),'Yes')]" />
    <add key="no_xpath" value="//span[@class='ui-button-text'][contains(text(),'No')]" />
    <add key="acNo_id" value="SignUp_AccountNumber" />
    <add key="dob_id" value="SignUp_DOB" />
    <add key="onlineAccess_id" value="SignUp_OnlineAccess" />
    <add key="dob_id" value="SignUp_DOB" />
    <add key="tc_id" value="chkAgreedToTerms" />
    <add key="tc_linktext" value="terms and conditions" />
    <add key="success_xpath" value="//div[@class='success']" />
    <add key="error_xpath" value="//li[@class='alert alert-danger ng-star-inserted']" />
    <add key="cancel_id" value="cancel" />

    <!--Public page-->
    <add key="head_classname" value="hero__heading" />

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
